In [ ]:
import pandas as pd
import numpy as np
from datetime import date

In [ ]:
#FL_DEC_2019_22cols=pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2018 data/FL_DEC_2018_20_cols.csv')
#FL_JAN_2018_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_JAN_2019_20cols.csv')
#FL_FEB_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_FEB_2019_20colscsv.txt')
#FL_MAR_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_MARCH_2019_20cols.csv')
#FL_APRIL_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_APRIL_2019_20colscsv.txt')
#FL_MAY_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_MAY_2019_20cols.csv')
#FL_JUNE_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_JUNE_2019_20cols.csv')
#FL_JULY_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_JULY_2019_20cols.csv')
#FL_AUG_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_AUG_2019_20cols.csv')
#FL_SEPT_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_SEPT_2019_20cols.csv')
#FL_OCT_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_OCT_2019_20cols.csv')
#FL_NOV_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_NOV_2019_22cols.csv')
#FL_DEC_2019_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2019-(20 columns)/FL_DEC_2019_20cols.csv')

In [ ]:
#FL_JAN_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_JAN_2021_20cols.csv')
#FL_FEB_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_FEB_2021_22cols.csv')
#FL_MAR_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_MARCH_2021_20cols.csv')
#FL_APRIL_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_APRIL_2021_22cols.csv')
FL_MAY_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_MAY_2021_20cols.csv')
FL_JUNE_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_JUNE_2021_22cols.csv')
#FL_JULY_2021_22cols = pd.read_csv('/content/drive/MyDrive/AbiML/Internship Tasks/internshipDatas/2019 data/2021_20cols/FL_JULY_2021_20cols.csv')

In [ ]:
#FL_CONSOLIDATED_18DEC_19JAN=pd.concat([FL_DEC_2018_22cols,FL_JAN_2019_22cols], axis=0)
#FL_CONSOLIDATED_19JAN_19FEB=pd.concat([FL_JAN_2019_22cols,FL_FEB_2019_22cols], axis=0)
#FL_CONSOLIDATED_19FEB_19MAR=pd.concat([FL_FEB_2019_22cols,FL_MAR_2019_22cols], axis=0)
#FL_CONSOLIDATED_19MAR_19APR=pd.concat([FL_MAR_2019_22cols,FL_APRIL_2019_22cols], axis=0)
#FL_CONSOLIDATED_19APR_19MAY=pd.concat([FL_APRIL_2019_22cols,FL_MAY_2019_22cols], axis=0)
#FL_CONSOLIDATED_19MAY_19JUNE=pd.concat([FL_MAY_2019_22cols,FL_JUNE_2019_22cols], axis=0)
#FL_CONSOLIDATED_19JUN_19JULY=pd.concat([FL_JUNE_2019_22cols,FL_JULY_2019_22cols], axis=0)
#FL_CONSOLIDATED_19JULY_19AUG=pd.concat([FL_JULY_2019_22cols,FL_AUG_2019_22cols], axis=0)
#FL_CONSOLIDATED_21AUG_21SEP=pd.concat([FL_AUG_2019_22cols,FL_SEPT_2019_22cols], axis=0)
#FL_CONSOLIDATED_19SEP_19OCT=pd.concat([FL_SEPT_2019_22cols,FL_OCT_2019_22cols], axis=0)
#FL_CONSOLIDATED_19OCT_19NOV=pd.concat([FL_OCT_2019_22cols,FL_NOV_2019_22cols], axis=0)
#FL_CONSOLIDATED_19NOV_19DEC=pd.concat([FL_NOV_2019_22cols,FL_DEC_2019_22cols], axis=0)
#FL_CONSOLIDATED_19DEC_21JAN=pd.concat([FL_DEC_2019_22cols,FL_JAN_2021_22cols], axis=0)
#FL_CONSOLIDATED_21JAN_21FEB=pd.concat([FL_JAN_2021_22cols,FL_FEB_2021_22cols], axis=0)
#FL_CONSOLIDATED_21FEB_21MAR=pd.concat([FL_FEB_2021_22cols,FL_MAR_2021_22cols], axis=0)
#FL_CONSOLIDATED_21MAR_21APR=pd.concat([FL_MAR_2021_22cols,FL_APRIL_2021_22cols], axis=0)
#FL_CONSOLIDATED_21APR_21MAY=pd.concat([FL_APRIL_2021_22cols,FL_MAY_2021_22cols], axis=0)
FL_CONSOLIDATED_21MAY_21JUNE=pd.concat([FL_MAY_2021_22cols,FL_JUNE_2021_22cols], axis=0)
#FL_CONSOLIDATED_21JULY_21AUG=pd.concat([FL_JUNE_2021_22cols,FL_JULY_2021_22cols], axis=0)

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE=FL_CONSOLIDATED_21MAY_21JUNE.drop(columns=['Unnamed: 20'] ,axis=1)

In [ ]:
 FL_CONSOLIDATED_21MAY_21JUNE['FL_DATE']=pd.to_datetime(FL_CONSOLIDATED_21MAY_21JUNE["FL_DATE"]).dt.strftime('%Y-%m-%d')

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE['FL_DATE']=pd.to_datetime(FL_CONSOLIDATED_21MAY_21JUNE['FL_DATE'],format='%Y-%m-%d')

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE

        QUARTER  MONTH  ...  SECURITY_DELAY LATE_AIRCRAFT_DELAY
0             2      5  ...             NaN                 NaN
1             2      5  ...             NaN                 NaN
2             2      5  ...             NaN                 NaN
3             2      5  ...             NaN                 NaN
4             2      5  ...             NaN                 NaN
...         ...    ...  ...             ...                 ...
573774        2      6  ...             NaN                 NaN
573775        2      6  ...             NaN                 NaN
573776        2      6  ...             NaN                 NaN
573777        2      6  ...             NaN                 NaN
573778        2      6  ...             0.0                 2.0

[1093838 rows x 20 columns]

Drop null in DEP_DELAY','DEP_DEL15','DEP_TIME columns

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE.dropna(subset=['DEP_DELAY','DEP_DEL15','DEP_TIME'],inplace=True)

Fill '0' in place of nan for all other columns

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE.fillna(0,inplace=True)

# Generating new column WEEK_OF_MONTH

In [ ]:
#solution for the above code
import datetime
from calendar import Calendar

def week_of_month(tgtdate):
  n = datetime.datetime(tgtdate.year, tgtdate.month, tgtdate.day)
  cal = Calendar() # week starts Monday
#cal = Calendar(6) # week stars Sunday
  weeks = cal.monthdayscalendar(n.year, n.month)
  for x in range(len(weeks)):
    if n.day in weeks[x]:
        return(x+1)
FL_CONSOLIDATED_21MAY_21JUNE['WEEK_OF_MONTH'] = FL_CONSOLIDATED_21MAY_21JUNE['FL_DATE'].apply(week_of_month)

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE[['FL_DATE','WEEK_OF_MONTH']].head()

     FL_DATE  WEEK_OF_MONTH
0 2021-05-25              5
1 2021-05-26              5
2 2021-05-27              5
3 2021-05-28              5
4 2021-05-29              5

# Creating New column--> Week days==0, Weekends == 1(DAY_OF_WEEK_days_end)

In [ ]:
def get_day_category(day_of_week):
    if day_of_week <= 5:
        return 0 #'working day'
    elif day_of_week > 5:
        return 1 #'weekend'
FL_CONSOLIDATED_21MAY_21JUNE['DAY_OF_WEEK_days_end'] = FL_CONSOLIDATED_21MAY_21JUNE['DAY_OF_WEEK']
   
FL_CONSOLIDATED_21MAY_21JUNE['DAY_OF_WEEK_days_end'] = FL_CONSOLIDATED_21MAY_21JUNE.DAY_OF_WEEK_days_end.apply(get_day_category)
FL_CONSOLIDATED_21MAY_21JUNE.head()

   QUARTER  MONTH  ...  WEEK_OF_MONTH DAY_OF_WEEK_days_end
0        2      5  ...              5                    0
1        2      5  ...              5                    0
2        2      5  ...              5                    0
3        2      5  ...              5                    0
4        2      5  ...              5                    1

[5 rows x 22 columns]

# Creating New column-> DEP_TIME_BLK as 6 block per day, using DEP_time with 24 hrs time stamp

In [ ]:
def get_dep_time_blk(dep_time):
    dep_hour = str('%04d' %(dep_time))[:2]
    
    return dep_hour

FL_CONSOLIDATED_21MAY_21JUNE['DEP_TIMEslot_BLK'] = FL_CONSOLIDATED_21MAY_21JUNE.DEP_TIME.apply(get_dep_time_blk)
print(FL_CONSOLIDATED_21MAY_21JUNE[['DEP_TIME','DEP_TIMEslot_BLK']].head(5))

   DEP_TIME DEP_TIMEslot_BLK
0    2031.0               20
1    2045.0               20
2    2028.0               20
3    2044.0               20
4    2050.0               20

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE[['DEP_TIMEslot_BLK']]=FL_CONSOLIDATED_21MAY_21JUNE[['DEP_TIMEslot_BLK']].astype(int)

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE.head()

   QUARTER  MONTH  ...  DAY_OF_WEEK_days_end DEP_TIMEslot_BLK
0        2      5  ...                     0               20
1        2      5  ...                     0               20
2        2      5  ...                     0               20
3        2      5  ...                     0               20
4        2      5  ...                     1               20

[5 rows x 23 columns]

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE = FL_CONSOLIDATED_21MAY_21JUNE.astype({col: 'float16' for col in FL_CONSOLIDATED_21MAY_21JUNE.select_dtypes('float64').columns})
FL_CONSOLIDATED_21MAY_21JUNE = FL_CONSOLIDATED_21MAY_21JUNE.astype({col: 'int16' for col in FL_CONSOLIDATED_21MAY_21JUNE.select_dtypes('int64').columns})

In [ ]:
for dataset in FL_CONSOLIDATED_21MAY_21JUNE:
    FL_CONSOLIDATED_21MAY_21JUNE.loc[FL_CONSOLIDATED_21MAY_21JUNE['DEP_TIMEslot_BLK'] >=0, 'Dep_period'] = 'Midnight'
    FL_CONSOLIDATED_21MAY_21JUNE.loc[FL_CONSOLIDATED_21MAY_21JUNE['DEP_TIMEslot_BLK'] >=4,'Dep_period'] ='Early morning'
    FL_CONSOLIDATED_21MAY_21JUNE.loc[FL_CONSOLIDATED_21MAY_21JUNE['DEP_TIMEslot_BLK'] >=7,'Dep_period'] ='Morning'
    FL_CONSOLIDATED_21MAY_21JUNE.loc[FL_CONSOLIDATED_21MAY_21JUNE['DEP_TIMEslot_BLK'] >=12,'Dep_period'] ='Afternoon'
    FL_CONSOLIDATED_21MAY_21JUNE.loc[FL_CONSOLIDATED_21MAY_21JUNE['DEP_TIMEslot_BLK'] >=17,'Dep_period'] ='Evening'
    FL_CONSOLIDATED_21MAY_21JUNE.loc[FL_CONSOLIDATED_21MAY_21JUNE['DEP_TIMEslot_BLK'] >=20,'Dep_period'] ='Night'
    FL_CONSOLIDATED_21MAY_21JUNE.loc[FL_CONSOLIDATED_21MAY_21JUNE['DEP_TIMEslot_BLK'] ==24, 'Dep_period'] = 'Midnight'

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE.head()

   QUARTER  MONTH  ...  DEP_TIMEslot_BLK Dep_period
0        2      5  ...                20      Night
1        2      5  ...                20      Night
2        2      5  ...                20      Night
3        2      5  ...                20      Night
4        2      5  ...                20      Night

[5 rows x 24 columns]

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE=FL_CONSOLIDATED_21MAY_21JUNE.drop(columns=['DEP_TIMEslot_BLK'] ,axis=1)

# Adding new columns (DELAY_LAST_WEEK, DELAY_LAST_MONTH)

* first()-- used to subset initial periods of time series data based on a date offset.
* shift() function Shift index by desired number of periods with an optional time freq.
* rolling()--certain number of previous periods in a time series
* resample()--Resampling generates a unique sampling distribution on the basis of the actual data.1D=dates created on 1day frequency. We can apply various frequency to resample our time series data.

* group by using flight number and origin which generates unique key pairs, used while creating resample(1D) dates for calculating 30 days and 7days window
* while group by FL_ num alone has same dates with  diff org, airline, etc.. so used fl_num with origin for groupby.

## DELAY_LAST_MONTH-->FL_NUM

In [ ]:
from datetime import date, timedelta

  Grouping FL_NUM and ORIGIN and Resampling dates

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE_temp1=FL_CONSOLIDATED_21MAY_21JUNE[['OP_CARRIER_FL_NUM','ORIGIN','FL_DATE','DEP_DEL15']]
df_FLNUM = FL_CONSOLIDATED_21MAY_21JUNE_temp1.groupby(['OP_CARRIER_FL_NUM','ORIGIN']).apply(lambda x: x.set_index('FL_DATE').resample('1D').first())

In [ ]:
df1_30 = df_FLNUM.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=30).sum()).reset_index(name='DELAY_Past_30_days_FL_NUM_ORIGIN')

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE_new=pd.merge(FL_CONSOLIDATED_21MAY_21JUNE, df1_30, on=['FL_DATE', 'OP_CARRIER_FL_NUM','ORIGIN'], how='left')

FL_CONSOLIDATED_21MAY_21JUNE_new.head().sort_values(['FL_DATE'],ascending=True)

   QUARTER  MONTH  ...  Dep_period DELAY_Past_30_days_FL_NUM_ORIGIN
0        2      5  ...       Night                              4.0
1        2      5  ...       Night                              4.0
2        2      5  ...       Night                              4.0
3        2      5  ...       Night                              4.0
4        2      5  ...       Night                              4.0

[5 rows x 24 columns]

# FL_NUM--> DELAY_LAST_7DAYS

In [ ]:
df1_7 = df_FLNUM.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=7).sum()).reset_index(name='DELAY_Past_7_days_FL_NUM_ORIGIN')
FL_CONSOLIDATED_21MAY_21JUNE_new_30_7=pd.merge(FL_CONSOLIDATED_21MAY_21JUNE_new, df1_7, on=['FL_DATE','OP_CARRIER_FL_NUM','ORIGIN'], how='left')

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE_new_30_7.head(100).sort_values(['FL_DATE'],ascending=True)

    QUARTER  ...  DELAY_Past_7_days_FL_NUM_ORIGIN
85        2  ...                              2.0
57        2  ...                              1.0
86        2  ...                              2.0
58        2  ...                              0.0
59        2  ...                              0.0
..      ...  ...                              ...
30        2  ...                              3.0
56        2  ...                              3.0
84        2  ...                              0.0
31        2  ...                              4.0
6         2  ...                              1.0

[100 rows x 25 columns]

# TAIL_NUM, ORIGIN --> DELAY last 30 days

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE_temp_tail=FL_CONSOLIDATED_21MAY_21JUNE[['TAIL_NUM','FL_DATE','ORIGIN','DEP_DEL15']]
df_TAIL_30 = FL_CONSOLIDATED_21MAY_21JUNE_temp_tail.groupby(['TAIL_NUM','ORIGIN']).apply(lambda x: x.set_index('FL_DATE').resample('1D').first())

In [ ]:
df1_TAIL = df_TAIL_30.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=30).sum()).reset_index(name='DELAY_Past_30_days_TAILNUM')

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE_new_TAIL=pd.merge(FL_CONSOLIDATED_21MAY_21JUNE_new_30_7, df1_TAIL, on=['FL_DATE','TAIL_NUM','ORIGIN'], how='left')

##  TAIL_NUM , ORIGIN -->DELAY_LAST_7DAYS_COUNT

In [ ]:
df1_TAIL_7 = df_TAIL_30.groupby(level=0)['DEP_DEL15'].apply(lambda x: x.shift().rolling(min_periods=1,window=7).sum()).reset_index(name='DELAY_Past_7_days_TAILNUM')

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE_new_tail7=pd.merge(FL_CONSOLIDATED_21MAY_21JUNE_new_TAIL, df1_TAIL_7, on=['FL_DATE','TAIL_NUM','ORIGIN'], how='left')

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE_new_tail7

         QUARTER  MONTH  ...  DELAY_Past_30_days_TAILNUM DELAY_Past_7_days_TAILNUM
0              2      5  ...                         1.0                       0.0
1              2      5  ...                         3.0                       0.0
2              2      5  ...                         3.0                       2.0
3              2      5  ...                         3.0                       1.0
4              2      5  ...                         3.0                       1.0
...          ...    ...  ...                         ...                       ...
1082719        2      6  ...                         3.0                       0.0
1082720        2      6  ...                         2.0                       1.0
1082721        2      6  ...                         2.0                       0.0
1082722        2      6  ...                         4.0                       1.0
1082723        2      6  ...                         1.0                       0.0

[1082724 rows x 27 columns]

# Cross verification code

In [ ]:
FL_CONSOLIDATED_21MAY_21JUNE_new_tail7_jun=FL_CONSOLIDATED_21MAY_21JUNE_new_tail7[['DELAY_Past_30_days_FL_NUM_ORIGIN','DEP_DEL15','FL_DATE']][(FL_CONSOLIDATED_21MAY_21JUNE_new_tail7['FL_DATE'] >= '2021-05-01')
                    & (FL_CONSOLIDATED_21MAY_21JUNE_new_tail7['FL_DATE'] <= '2021-06-15') & (FL_CONSOLIDATED_21MAY_21JUNE_new_tail7['ORIGIN']=='CLT')&(FL_CONSOLIDATED_21MAY_21JUNE_new_tail7['OP_CARRIER_FL_NUM']==1677)]
FL_CONSOLIDATED_21MAY_21JUNE_new_tail7_jun

        DELAY_Past_30_days_FL_NUM_ORIGIN  DEP_DEL15    FL_DATE
161523                               NaN        0.0 2021-05-01
161524                               0.0        0.0 2021-05-02
161525                               0.0        0.0 2021-05-03
161526                               0.0        1.0 2021-05-04
161527                               1.0        0.0 2021-05-05
161528                               1.0        0.0 2021-05-06
161529                               1.0        0.0 2021-05-07
161530                               1.0        0.0 2021-05-08
161531                               1.0        1.0 2021-05-09
161532                               2.0        1.0 2021-05-10
161533                               3.0        0.0 2021-05-11
161534                               3.0        1.0 2021-05-12
161535                               4.0        1.0 2021-05-13
161536                               5.0        0.0 2021-05-14
161537                               5.0        0.0 2021-05-15
161538                               5.0        1.0 2021-05-16
161539                               6.0        0.0 2021-05-17
161540                               6.0        0.0 2021-05-18
161541                               6.0        0.0 2021-05-19
161542                               6.0        0.0 2021-05-20
161543                               6.0        0.0 2021-05-21
161544                               6.0        0.0 2021-05-22
161545                               6.0        0.0 2021-05-23
161546                               6.0        0.0 2021-05-24
161547                               6.0        0.0 2021-05-25
161548                               6.0        1.0 2021-05-26
161549                               7.0        0.0 2021-05-27
161550                               7.0        0.0 2021-05-28
161551                               7.0        0.0 2021-05-29
161552                               7.0        0.0 2021-05-30
161553                               7.0        0.0 2021-05-31
517827                               7.0        0.0 2021-06-02
953914                               7.0        0.0 2021-06-01

# copy to csv

select june month alone

In [ ]:
#FL_CONSOLIDATED_21MAY_21JUNE_new_tail7_jun=FL_CONSOLIDATED_21MAY_21JUNE_new_tail7.loc[(FL_CONSOLIDATED_21MAY_21JUNE_new_tail7['FL_DATE'] >= '2021-06-01')
#                     & (FL_CONSOLIDATED_21MAY_21JUNE_new_tail7['FL_DATE'] <= '2021-06-30')]
#FL_CONSOLIDATED_21MAY_21JUNE_new_tail7_jun

In [ ]:
#FL_CONSOLIDATED_21MAY_21JUNE_new_tail7_jun = pd.DataFrame(FL_CONSOLIDATED_21MAY_21JUNE_new_tail7_jun)
#FL_CONSOLIDATED_21MAY_21JUNE_new_tail7_jun.to_csv('2021_06_delay.csv', index=False)

In [ ]:
#from google.colab import files
#files.download("2021_06_delay.csv")